html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: auto;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/waveImage.webp);
  background-size: cover;
  height: 400px;
  width: 100%;
  position: fixed;
}

.currency-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 9;
  background-color: white;
  width: 95%;
  height: 445px;
  position: fixed;
  margin: 165px 2.5% 200px 2.5%;
  border: aqua solid 1px;
  border-radius: 12px;
}

@media (max-width: 991px) {
  .currency-container {
    flex-direction: column;
    align-items: center;
    height: 500px;
  }
}

.rate-exchange-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
}

@media (max-width: 991px) {
  .rate-exchange-container {
    margin-top: 35%;
    margin-bottom: 0px;
  }
}

.labelText {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  color: rgb(128, 128, 128);
}

.box {
  border: 1px solid gainsboro;
  height: 40px;
  width: 300px;
  font-size: 15px;
  font-weight: 400;
}

.equality-exchange-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 8%;
  text-align: left;
}

@media (max-width: 991px) {
  .equality-exchange-container {
    align-items: center;
    margin-top: 0px;
  }
}

.big-equality-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .big-equality-container {
    height: 100px;
  }
}

.textExchange {
  font-size: 18px;
  color: gray;
  font-weight: 400;
  font-family: Arial;
  margin-right: 5px;
}

.equalityCurrency-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

@media (max-width: 991px) {
  .equalityCurrency-container {
    margin-top: 0;
  }
}

.information-container {
  width: 500px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  background-color: rgb(227, 243, 183);
  border-radius: 12px;
}

@media (max-width: 991px) {
  .equalityCurrency-container {
    margin-top: 10px;
  }
}

.date-information {
  margin: 450px 0px 0px 60px;
  height: 20px;
  justify-content: left;
  text-align: left;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(128, 128, 128);
}
@media (max-width: 991px) {
  .date-information {
    margin-top: 600px;
    align-items: center;
    text-align: center;
  }
}
